.cover__text-block {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 560px;
    min-height: 250px;
    justify-content: space-between;
}


@media screen and (max-width: 560px) {

    .cover__text-block {
        width: calc(100vw - 48px);
        min-height: calc(100vw / (560 / 250));
    }
}

@media screen and (max-width: 320px) {
    .cover__text-block {
        padding: 0 5vw;
    }
}