.footer__link-field {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    background-color: blue;
}

@media screen and (max-width: 475px) {
    .footer__link-field {
        margin: 0;
    }
}