.cover{
    position: relative;
    margin: 92px auto; 
}

@media screen and (max-width: 1184px) { 
    .cover { 
        margin: 90px auto; 
    } 


} 
 
@media screen and (max-width: 475px) { 
    .cover { 
        margin: 20.625vw auto; 
    }
} 

