.cover {
    position: relative;
    margin: 92px auto;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: url(../../images/cover/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-decoration: none;
}

.cover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #2A2C2F;
    opacity: 30%;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.cover:hover::after {
    opacity: 80%;
}

@media screen and (max-width: 1184px) {
    .cover {
        min-height: 62.5vw;
        margin: 90px auto;

    }
}

@media screen and (max-width: 475px) {
    .cover {
        margin: 20.625vw auto;
    }
}
