.cover__title {
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #fff;
    z-index: 10;
}

@media screen and (max-width: 560px) {
    .cover__title {
        font-size: 10vw;
        line-height: 11vw;
        margin-top: 4px;
    }
}