.place {
    min-width: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: stretch;
    grid-column-gap: 16px;
    grid-row-gap: 48px;
    -ms-grid-columns: 1fr 16px 1fr;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100%;
}

@media screen and (max-width: 475px) {
    .place {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10vw;        
    }
}